@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  font-weight: 300 !important;
  background-color: #2c2c2c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1240px;
  margin: auto;
  position: relative;
}