@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Mukta:wght@400;600;800&display=swap');

.hero {
  width: 100%;
  height: 100vh;
}

.hero .container {
  background-color: #2c2c2c;
  max-width: 100%;
}

.hero .container .planoFundo {
  background-color: rgb(204 204 204 / 36%);
  width: 100%;
  /* height: 100%; */
  position: absolute;
  z-index: 0;
}

.hero .container h3,
.hero .container h1,
.hero .container a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  font-weight: 600;
  z-index: 1;
  margin: 0 120px;
  text-align: center;
}

.hero .container .facaConsultoria {
  font-weight: 400;
  font-size: 80px;
}

.slick-next {
  left: calc(100% - 28px);
}

.slick-prev {
  left: -1px !important;
  z-index: 1;
}

.hero .container .slick-prev:before,
.hero .container .slick-next:before {
  color: white !important;
  font-size: 30px;
}

.hero .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.carouselItem {
  height: 500px;
  color: azure;
  font-size: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slick-prev:before, .slick-next:before{
  color: #6b6b6b !important;
}

.item1 {
  background: url('../assets/cup-of-coffee-g3c63a3422_1920.jpg') no-repeat center/cover;
}

.heroBtn {
  display: block;
  height: 25px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  line-height: 25px;
  z-index: 10;
  text-decoration: none;
}

.saibaMais {
  background: #c09543;
  color: #2c2c2c;
  transition: .5s ease-in;
}

.saibaMais:hover {
  transition: .5s ease-out;
  background-color: #2c2c2c;
  color: #c09543;
}

.nossosServicos {
  background-color: #2c2c2c;
  color: #c09543;
  transition: .5s ease-in;
}

.nossosServicos:hover {
  transition: .5s ease-out;
  background-color: #c09543;
  color: #2c2c2c;
}

.item2 {
  background: url('../assets/laptop-gb61cffb0e_1920.jpg') no-repeat center/cover;
  color: #2c2c2c;
}

@media screen and (max-width:940px) {
 .hero .content {
    margin-left: 1rem;
 } 

  .hero .container h3,
  .hero .container h1,
  .hero .container a {
    font-size: 0.8em;
    margin: 10px 40px;
    font-weight: 600;
    text-align: center;
  }

  .hero .container .facaConsultoria {
    font-weight: 400;
    font-size: 0.8em;
    margin: 40px 0;
  }
}

@media screen and (max-width: 375px) {
  .hero .container a {
    font-size: 0.5em;
  }
}